h1 {
	background-color: black;
	color: rgb(75, 213, 238);
	font-weight: 400;
}

.main-contents {
	display: flex;
	padding-top: 20px;
}

.image {
	width: 38.2%
}

.text {
	color: gray;
	font-style: italic;
	text-align: center;
}

.bio {
	padding-left: 20px;
	font-size: 150%;
	line-height: 1.5;
}

p {
	margin: 0;
}

figcaption {
	text-align: center;
}
