h1 {
	background-color: black;
	color: rgb(75, 213, 238);
	font-weight: 400;
}

p {
	font-style: italic;
	font-weight: bold;
	font-size: large;
	margin: 0;
	margin-left: 20px;
}
.album-grid {
	display: grid;
	margin-top: 20px;
	grid-template-columns: auto;
	grid-row-gap: 20px;
	text-align: left;
}

.album {
	display: flex;
	padding: 10px;
}

img {
	width: 200px;
	float: left;
	alt: "IMAGE LOAD FAILED, PLEASE REFRESH";
}
