h1 {
	background-color: black;
	color: rgb(75, 213, 238);
	font-weight: 400;
}

.nav-bar {
	display: flex;
	background-color: gray;
}

.tab {
	padding: 10px;
}

.main-contents {
	display: flex;
	align-content: stretch;
}

.img-with-text {
	display: inline-block;
	width: 50%;
}
/*img {
	width: 65%;
	float: left;
}*/
/*.caption {
	color: gray;
	text-align: center;
	font-style: italic;
}*/

.bio {

}

