h1 {
	background-color: black;
	color: rgb(75, 213, 238);
	font-weight: 400;
}

.nav-bar {
	display: flex;
	background-color: gray;
}

.tab {
	padding: 10px;
}

.main-contents {
	display: flex;
	padding-top: 20px;
}

img {
	width: 500px;
}

.text {
	color: gray;
	font-style: italic;
}

.bio {
	padding-left: 20px;
	font-size: 150%;
	line-height: 1.5;
}

p {
	margin: 0;
}
