h1 {
	background-color: black;
	color: rgb(75, 213, 238);
	font-weight: 400;
}

.nav-bar {
	display: flex;
	background-color: gray;
}

.tab {
	padding: 10px;
}

.row {
    display: flex;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

img {
	width: 300px;
	alt: "IMAGE LOAD FAILED, PLEASE REFRESH";
}