h1 {
	background-color: black;
	color: rgb(75, 213, 238);
	font-weight: 400;
}

.nav-bar {
	display: flex;
	background-color: gray;
}

.tab {
	padding: 10px;
}

.ps4-games-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
}

.ps4-game {
    float: left;
    width: 25%;
    padding: 10px;
}

.ns-games-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-row-gap: 20px;
}

.ns-game {
	float: left;
	width: 20%;
}

img {
	width: 300px;
	alt: "IMAGE LOAD FAILED, PLEASE REFRESH";
}